<div class='welcome'>
  <h2><a href="/guests">See who's coming to the #MainEvent!</a></h2>
</div>
  <div class="photo"><img src="https://media.front.xoedge.com/images/fbb93086-118b-4e8f-9847-01e16ad2ef0a~rt_0-cr_0.0.905.453-rs_1024.h" /></div>
