body {
  text-align: center;
  background-color: aquamarine;
  font-size: 40px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: none;
  margin: 10px;
  outline: 15px;
}

a:visited {
  color: white;
}

h3 {
  margin: auto;
  padding: none;
}
