body {
  text-align: center;
  background-color: aquamarine;
  font-size: 40px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: inherit;;
  margin: 10px;
  outline: 15px;
  font-weight: normal;
}

a:visited {
  color: grey;
}

h2, h3 {
  margin: auto;
  padding: none;
  font-size: 28px;
  color: grey;
}

.welcome{
  font-size: 45px;
  font-weight: bold;
  padding:15px;
}
button {
  font-size: 15px;
}
.photo {
  padding-top: 50px;
  image-orientation: center;
  border-color: black;
  border-width: 4px;
}
